.h3 {
    padding:2px;
    margin: 0.3em 0;
    background-color: var(--color2);
    border: 0 solid;
    border-radius: 6px;
}

.divItem {
    min-width: 250px;
    padding: 5px;
    border-radius: 16px;
    text-align: center;
    background-color: var(--color3);
    text-decoration:none;
}

.divItem * {
    color: var(--textos);
}

.divItem img {
    /* width: 60%; */
    height: 300px;
        
}

.divAgrQuit {
    font-size: 1.5em;
    display: flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;
}

.precio {
    font-weight: 600;
    font-size: larger;
}

.stock {
    margin: 5px;
}

.divItem button {
    background-color: var(--color2);
    border: 0 solid;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 10px;
    padding: 5px 2rem;
}

.divAgrQuit button{
    width: 7.2rem;
}

.divItem > button {
    width: 15.6rem;
}

.divItem button:hover {
    background-color: var(--color2over);
    cursor: pointer;
}

.divItem button:active {
    background-color: var(--color3);
}