
.form {
    max-width: 30rem;
    margin: 3rem auto;
    padding: 1rem;
    border: 0 solid var(--textos);
    border-radius: 16px;
    background-color: var(--color3);
    color: var(--textos);
}

.h2 {
    padding: 0.5em;
    margin: 1em 2.5em 0.3em;
    border: 0 solid;
    border-radius: 6px;
    font-family: var(--heroText);
    background-color: var(--color2);
    font-size: 2.5rem;
    font-kerning: 5px;
    color: var(--textos);
}

.h3 {
    /*text-transform: uppercase;*/
    color: var(--textos);
    font-size: 2em;
    border: 0;
    margin: 0.5em 0 1.5em;
    padding: 0;
}

.form div {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    border-radius: 8px;
    gap: 6px;
    width: 26rem;
}

.form label {
    flex: 0 0 calc(32% - 10px);
    font-size: larger;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.form input, .form textarea {
    background-color: #92aa92;
    font-size: large;
    color: var(--textos);
    flex: 0 0 calc(65% - 10px);
    margin: 0;
    padding: 0;
}

.form button {
    margin: 2em 0.5em 0.5em;
    padding: 0.5em 1.5em;
    font-size: 0.9rem;
    color: var(--textos);
    font-weight: 800;
    border: 0.1em solid var(--textos);
    border-radius: 6px;
}

.form input[type="file"]{
    max-width: 16.4rem;
}

.form input[type="file"]::file-selector-button{
    color: var(--textos);
}

.errorField {
    text-align: center;
    font-weight: 800;
    width: 100%;
    height: 2rem;
    justify-content: center;
    align-content: end;

}

.divProductos label {
    text-align: left;
}

.divProductos .form button {
    background-color: var(--color2);
    border: 0 solid;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 10px;
    padding: 5px 2rem;
}