.tarjeta {
    min-width: 250px;

    padding: 15px;
    border-radius: 8em 8em 1em 1em;
    
    border: 1px solic grey;
    text-align: center;
    background-color: brown;
}

.tarjeta img {
    object-fit: cover;
    object-position: 50% 50%;

}

.tarjeta h2 {
    color: black;
    font: bold 1.75em 'Calibri';
    padding: 2px;
    margin: 2px;

}

.tarjeta h3 {
    color: black;
    font: bolder 1.3em 'Calibri';
    padding: 2px;
    margin: 2px;

}


.mascara {
  -webkit-mask-image: url(/images/Mascara.png);
  mask-image: url(/images/Mascara.png);
  mask-repeat: no-repeat;
  height: 70%;    
  object-fit: cover;
  overflow: hidden;
}

