.divHome {
    min-width: 250px;
    padding: 10px;
    text-align: center;
    background-color: var(--fondos);
    text-decoration:none;
}

.divHome h1 {
    font-family: var(--heroText);
    font-kerning: 1px;
    color: var(--color3);
}